<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boggle Game</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div id="game-board-container">
        <div id="game-board">
            <table>
                <tbody>
                    {% for row in game_board %}
                        <tr>
                            {% for letter in row %}
                                <td>
                                    <div class="game-letter">{{ letter }}</div>
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>